fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7


# =========================
# Backend
# =========================
fastapi
uvicorn
pydantic
python-dotenv

# =========================
# Database
# =========================
sqlalchemy
psycopg2-binary

# =========================
# Dashboard
# =========================
streamlit

# =========================
# Data Processing
# =========================
pandas
numpy
openpyxl
xlrd

# =========================
# Document Processing
# =========================
pdfplumber
python-docx
PyPDF2

# =========================
# NLP
# =========================
spacy
sentence-transformers
scikit-learn
nltk

# =========================
# Machine Learning
# =========================
torch
transformers

# =========================
# Visualization
# =========================
matplotlib
plotly

# =========================
# Utilities
# =========================
tqdm
requests